<ion-content no-border>
  <ion-grid class="encabezado">
    <div id="bg-wrap">
      <app-header-animation titulo=""></app-header-animation>
    </div>
    <ion-row class="ion-justify-content-between grid_arriba">
      <ion-col class="ion-no-border ion-padding-start" size="2">
        <ion-buttons mode="ios" >
          <ion-button (click)="regresar()" class="ion-padding-top">
            <ion-icon  mode="ios" color="light" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-no-border ion-padding-end" size="2">
        <ion-buttons mode="md" >
          <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-margin">
      <ion-col class="ion-text-center ion-no-margin" color="light">
        <h3 class="ion-no-margin color-claro">Notificaciones</h3>
      </ion-col>
    </ion-row>
   
  </ion-grid>
  
  <ion-grid class="cuerpo">
    <ion-grid>
      <ion-row class="ion-justify-content-center" *ngIf="pushServices.mensajes.length >= 0">
        <ion-col size="12"  class="aligh_text_modal animate__animated animate__fadeInLeft">
          <ion-list >
            <!--ion-list-header>
              <ion-label [innerHTML]="pushServices.userId"></ion-label>
            </ion-list-header-->
            <ion-card mode="ios" no-border class="ion-no-padding animate__animated animate__fadeIn" *ngFor="let push of arrayMessages; let i = index">
              <ion-card-content no-border class="ion-no-padding">
                <ion-item-sliding no-border class="ion-no-padding">
                  <ion-item no-border lines="none">
                    <ion-grid no-border>
                      <ion-row size="12" no-border class="ion-no-padding ion-align-items-center">
                        <ion-col size="1" class="ion-justify-content-center ion-text-center ion-align-items-center">
                          <ion-icon name="mail" color="success" class="opacity_text"></ion-icon><br>
                          <ion-icon *ngIf="arrayMessages[i].length > 1" name="document-text" color="success" class="opacity_text"></ion-icon>
                        </ion-col>
                        <ion-col size="11" class="ion-align-items-center">
                          <ion-label *ngIf="arrayMessages[i].length > 0" color="success" class="texto_bold textto" [innerHTML]="arrayMessages[i][0]"></ion-label>
                          <ion-label *ngIf="arrayMessages[i].length > 1" class="texto_bold textto" color="medium" [innerHTML]="arrayMessages[i][1]"></ion-label>
                          <!--div *ngIf="push.additionalData != undefined"-->
                            <ion-label *ngIf="arrayMessages[i].length > 2" class="texto_bold textto" color="medium" class="texto_bold textto"  [innerHTML]="arrayMessages[i][2]"></ion-label>
                          <!--/div-->
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-item-sliding>
              </ion-card-content>
            </ion-card>
            <!--ion-card mode="ios" no-border class="ion-no-padding animate__animated animate__fadeIn" >
              <ion-card-content no-border class="ion-no-padding">
                <ion-item-sliding no-border class="ion-no-padding">
                  <ion-item no-border lines="none">
                    <ion-grid no-border>
                      <ion-row size="12" no-border class="ion-no-padding">
                        <ion-col size="2" class="ion-justify-content-center ion-text-center">
                          <ion-icon name="mail" color="success" class="opacity_text"></ion-icon><br>
                          <ion-icon name="document-text" color="success" class="opacity_text"></ion-icon>
                        </ion-col>
                        <ion-col size="10">
                          <ion-label color="success" class="texto_bold textto" [innerHTML]="'Lalo'"></ion-label>
                          <ion-label class="texto_bold textto" color="medium" [innerHTML]="'push.body'"></ion-label>
                          <ion-label class="texto_bold textto" color="medium" [innerHTML]="'data'"></ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-item-sliding>
              </ion-card-content>
            </ion-card-->
          </ion-list>
        </ion-col>
      </ion-row>

      <!--ion-row *ngIf="pushServices.mensajes.length == 0">
        lalo
      </ion-row-->

    </ion-grid>
  </ion-grid>

    
  
</ion-content>
