.imagePos{
    font-size: 700%;
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
}

div{
    margin: 0;
    padding-top: 28%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

ol{
    padding-left: 9%;
}

ion-content{
    border-radius: 20px !important;
}

.colorSuccess{
    background-color: #F75C68;
}

.colorDanger{
    background-color: #A2DB7D;
}