
ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		/*ion-fab-button {
		 --box-shadow: none;
		}*/
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			
			--background: var(--ion-color-light);
		}
		ion-tab-button.cash {
			// box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.12), 0px 0px 10px 0px rgba(0, 0, 0, 0.12), 0px 0px 10px 0px rgba(0, 0, 0, 0.12), -20px -20px 10px 5px rgba(0, 0, 0, 0.12);
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.sync {
			//box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.12), 0px 0px 10px 0px rgba(0, 0, 0, 0.12), 0px 0px 10px 0px rgba(0, 0, 0, 0.12), -20px -20px 10px 5px rgba(0, 0, 0, 0.12);
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		ion-tab-button.tab-selected{
			--color-selected: var( --ion-color-success ) !important;
		}
		svg {
			width: 82px;
			margin-top: 16px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}
