<!--ion-tabs class="tab-bar">
  <div class="tab-indicator">
    <div class="tab-indicator-left"></div>
    <div class="tab-indicator-right"></div>
  </div>
  <ion-tab-bar slot="bottom" class="tab-item">
    <ion-tab-button tab="tab1">
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs-->


<ion-tabs>  
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button color="danger" (click)="navRouting('/scanner')">
      <!--lottie-animation-view [options]="lottieConfig" [width]="40" [height]="40"></lottie-animation-view-->
      <ng-lottie [options]="lottieConfig" class="scan_size" ></ng-lottie>
    </ion-fab-button>
  </ion-fab>
  
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="tab2" class="sync">
      <ion-icon src="../../../assets/svg/prueba-01.svg" size="large"></ion-icon>
      <!--ion-label>Lealtad</ion-label-->
    </ion-tab-button>
   
    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    
    <ion-tab-button tab="tab1" class="cash">
      <ion-icon src="../../../assets/svg/Lealtad-02.svg" size="large"></ion-icon>
      <!--ion-label>Ticket</ion-label-->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>