<ion-content>
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    
    <ion-segment mode="md" class="seg_pos ion-margin-top" value="Ingresar">
      <ion-segment-button mode="md" value="Ingresar" class="color_cha ion-no-margin ion-margin-top" (click)="mostrarRegistro()">
        <ion-label color="light" class="ion-no-margin">Ingresar</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="Registrase" class="color_cha ion-no-margin ion-margin-top" (click)="mostrarLogin()">
        <ion-label color="light" class="ion-no-margin">Registrarse</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-slides class="mainSlide" #sliderPrincipal>
      <ion-slide>
          <ion-grid>
            <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
              <ion-row>
                <ion-col size="8" offset="2" class="titulo">
                  <ion-label color="light">¡Hola!<br>Bienvenido</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-bottom">
                <ion-col size="8" offset="2">
                  <ion-input name="email" type="email" placeholder="Email o membresía" [(ngModel)]="loginUser.email" required></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" offset="2" class="col-static">
                  <ion-input class="input-cover" name="password" #passwordEyeRegister  [type]="passwordTypeInput" placeholder="Contraseña"  [(ngModel)]="loginUser.password" required></ion-input>
                  <ion-icon color="light" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" class="eye-icon" item-right (click)="togglePasswordMode()"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding ion-padding-bottom">
                <ion-col size="8" offset="2" class="col-static ion-no-padding ion-no-margin ion-text-right">
                  <ion-button fill="clear" color="light" size="small" class="ion-text-capitalize" (click)="recuperarContrasena()">Recuperar contraseña</ion-button>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="5"></ion-col>
                <ion-col size="5">
                  <ion-button type="submit" shape="round" expand="full" color="danger" class="ion-text-capitalize">
                    Entrar <ion-icon name="log-in-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
            
          </ion-grid>

      </ion-slide>
      <ion-slide>
        <ion-grid fixed>
          <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
            <ion-row>
              <ion-col size="8" offset="2" class="titulo">
                <ion-label color="light">¡Únete!</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="progress-wrap">
                  <div class="progress-inner">
                    <ol class="progress-steps">
                      <li [ngClass]="{'is-active': datosP === true, 'is-complete': datosPC === true}"  data-step="1">
                        <span>Datos Personales</span>
                      </li>
                      <li [ngClass]="{'is-active': datosC === true, 'is-complete': datosCC === true}" data-step="2">
                        <span>Datos de Contacto</span>
                      </li>
                      <li [ngClass]="{'is-active': datosV === true, 'is-complete': datosVC === true}" class="progress__last" data-step="3">
                        <span>Vehículo</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10" offset="1" >
                <ion-slides #sliderSecundario>
  
                  <ion-slide>
                    <ion-grid fixed>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="name" type="text" [(ngModel)]="registerUser.name" placeholder="Nombre (S)" autocomplete="off" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="first_surname" type="text" [(ngModel)]="registerUser.first_surname" placeholder="Apellido paterno" autocomplete="off" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="second_surname" type="text" [(ngModel)]="registerUser.second_surname" placeholder="Apellido Materno" autocomplete="off" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="10" offset="1" >
                          <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="registerUser.email" required></ion-input>
                        </ion-col>
                      </ion-row>  
                      <ion-row>
                        <ion-col size="10" offset="1" >
                          <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="registerUser.password" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row class="margin_top ion-justify-content-end">
                        <ion-col class="ion-justify-content-end">
                          <ion-button shape="round" color="danger" (click)="mostrarDContacto()">
                            <ion-icon name="arrow-forward" mode="ios"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-slide>

                  <ion-slide>
                    <ion-grid fixed>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="phone" type="tel" [(ngModel)]="registerUser.phone" placeholder="Teléfono" autocomplete="off" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="address" type="text" [(ngModel)]="registerUser.address" placeholder="Dirección" autocomplete="off" required></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-item class="bordes_re_modal" lines="none">
                            <ion-label>Fecha de nacimiento</ion-label>
                            <ion-datetime class="ion-no-padding" [(ngModel)]="registerUser.birthdate" name="birthdate" displayFormat="DD-MM-YYYY" autocomplete="off" required></ion-datetime>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="10" offset="1" >
                          <ion-item class="bordes_re_modal ion-text-capitalize ">
                            <ion-label class="ion-text-capitalize" >
                              Sexo
                            </ion-label>
                            <ion-select name="sex" [(ngModel)]="registerUser.sex"  interface="action-sheet">
                              <ion-select-option value="H">Hombre</ion-select-option>
                              <ion-select-option value="H">Mujer</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row class="margin_top ion-justify-content-end">
                        <ion-col class="ion-justify-content-end">
                          <ion-button shape="round" color="danger" (click)="mostrarDPersonales()">
                            <ion-icon name="arrow-back" mode="ios"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col class="ion-justify-content-end">
                          <ion-button shape="round" color="danger" (click)="mostrarDVehiculo()">
                            <ion-icon name="arrow-forward" mode="ios"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-slide>

                  <ion-slide>
                    <ion-grid fixed>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-input name="number_plate" type="text" [(ngModel)]="registerUser.number_plate" placeholder="Placas" autocomplete="off"></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="10" offset="1" >
                          <ion-item class="bordes_re_modal">
                            <ion-label>
                              Tipo de vehículo
                            </ion-label>
                            <ion-select name="type_car" [(ngModel)]="registerUser.type_car"  interface="action-sheet">
                              <ion-select-option>Transporte</ion-select-option>
                              <ion-select-option>Carga</ion-select-option>
                              <ion-select-option>Personal</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row class="margin_top ion-justify-content-end">
                        <ion-col class="ion-justify-content-end">
                          <ion-button shape="round" color="danger" (click)="mostrarDContacto()">
                            <ion-icon name="arrow-back" mode="ios"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col class="ion-justify-content-end">
                          <ion-button type="submit" shape="round" color="danger">
                            Registrarse
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-slide>
          
                </ion-slides>
                
              </ion-col>
            </ion-row>
          </form>
          
        </ion-grid>
        
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <form>
            <ion-row>
              <ion-col size="8" offset="2" class="tituloEmail">
                <ion-label color="light" [innerHTML]="'¡'+messageEmail+'!'"></ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col size="8" offset="2" class="ion-text-start">
                <ion-label color="light" class="ion-margin-top">Ingresa tu email</ion-label><br>
                <ion-input name="email" type="email" [(ngModel)]="loginEmail.email" required ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5"></ion-col>
              <ion-col size="5">
                <ion-button type="submit" shape="round" expand="full" color="danger" class="ion-text-capitalize" [disabled]="loginEmail.email == ''" (click)="nuevoCorreo()">
                  Aceptar
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <form>
            <ion-row>
              <ion-col size="8" offset="2" class="tituloEmail">
                <ion-label color="light">¿Olvidaste tu contraseña?</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col size="8" offset="2" class="ion-text-start">
                <ion-label color="light" class="ion-margin-top">Ingresa tu email</ion-label><br>
                <ion-input name="email" type="email" [(ngModel)]="recuperarC.email" required ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5"></ion-col>
              <ion-col size="5">
                <ion-button type="submit" shape="round" expand="full" color="danger" class="ion-text-capitalize" [disabled]="recuperarC.email == ''" (click)="recuperar()">
                  Aceptar
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
          
        </ion-grid>

      </ion-slide>

    </ion-slides>
  </div>
  
</ion-content>

