
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

.titulo{
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5%;
}

.tamano_text{
    font-size: 20px;
}


  
.box {
  width: 100%;
  height: 100%;
  // border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: #00833e;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
  
.wave {
  opacity: .4;
  position: fixed;
  background: #75b952;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 10000ms infinite linear;
}

.wave.-three {
  animation: drift 9800ms infinite linear;
}

.wave.-two {
  animation: drift 9600ms infinite linear;
  opacity: .1;
  background: yellow;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

  .col-static{
    position:relative;
  }
  
  .col-static .eye-icon {
    z-index: 1000;
    position:absolute;
    top:50%;
    right:15px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
  }

  ion-input {
	
	border:1px solid rgba(255,255,255,.808);
	font-size:15px;
	padding:.25em .5em .3125em;
	color:rgba(255, 255, 255, 0.808);
	border-radius:1.10em;
	background:transparent;
	transition:all .100s;
	
	&:focus{
		outline:none;
		color:rgba(255,255,255,.75);
    border-color:rgba(255,255,255,.75);
    border-radius:1.10em;
	}
	
	&.keyup {
		color:white;
		border-color:white;
		text-shadow:0 0 .125em white;
    box-shadow:0 0 .25em white,inset 0 0 .25em white;
    border-radius:1.10em;
  }
}

.sc-ion-input-md-h{
  --background-color: transparent !important;
  --outline:none;
  --color:rgba(255,255,255,.75);
  --border-color:rgba(255,255,255,.75);
  --border-radius:1.10em !important;
}

.sc-ion-input-ios-h{
  --background-color: transparent;
  --outline:none;
  --color:rgba(255,255,255,.75);
  --border-color:rgba(255,255,255,.75);
  --border-radius:1.10em !important;
}


canvas {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	pointer-events:none;
}

ion-input {
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

$placeholder-color:rgba(255,255,255,.5);

::-webkit-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
ion-input:focus::-webkit-input-placeholder {
	opacity:.5;
}

::-moz-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus::-moz-placeholder {
	opacity:.5;
}

:-ms-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
ion-input:focus:-ms-input-placeholder {
	opacity:.5;
}

.shadow-red{
  border-radius: 25px;
}

.seg_pos{
  position: fixed;
  z-index: 1000;
  margin-top: 8%;
  width: 50%;
  margin-left: 38%;
}


.color_cha{
  --color-checked: #FFEB3B !important;
}

@media screen and (max-height: 699px) and (min-height: 568px) {

  .wave {
    top: -90%;
    left: -270%;
  }

  .titulo{
    font-size: 30px;
  }

}

@media screen and (max-height: 900px) and (min-height: 700px) {
  .wave {
    top: -40%;
    left: -200%;
  }
}

/*@media screen and (max-height: 823px) {
  .wave {
    top: -35%;
    left: -195%;
  }

  .titulo{
    font-size: 30px;
  }
  
}

@media screen and (max-height: 736px) {
  .wave {
    top: -55%;
    left: -245%;
  }

  .titulo{
    font-size: 30px;
  }
  
}
@media screen and (max-height: 667px) {
  .wave {
    top: -60%;
    left: -245%;
  }

  .titulo{
    font-size: 30px;
  }
}
@media screen and (max-height: 568px) {
  .wave {
    top: -90%;
    left: -270%;
  }

  .titulo{
    font-size: 30px;
  }
}*/

.progress-wrap {
  font-family: 'open sans', sans-serif;
  font-weight:600;
   z-index: -2;
   padding: 20px 0;
   max-width: 800px;
  // margin: 50px auto;
}

.progress-wrap h4 {
   color: #9D9DBF;
   padding-bottom: 20px
}

.progress-steps {
   list-style: none;
   margin: 0;
   padding: 0;
   display: table;
   table-layout: fixed;
   width: 100%;
   color: #ffffff
}

.progress-steps>li {
   position: relative;
   display: table-cell;
   text-align: center;
   font-size: .8em;

}

.progress-steps>li span {
  
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   padding-top: 5px;
   display: block;
   font-size: 14px;
   line-height: 15px
}

.progress-steps>li:before {
   content: attr(data-step);
   display: block;
   margin: .18em auto;
   background: #fff;
   color: #9D9DBF;
   border: 3px solid #d7d7de;
   width: 2.5em;
   height: 2.5em;
   text-align: center;
   margin-bottom: .25em;
   line-height: 2.1em;
   border-radius: 100%;
   position: relative;
   z-index: 1000
}

.progress-steps>li:after {
   content: '';
   position: absolute;
   display: block;
   background: #d7d7de;
   width: 100%;
   height: .25em;
   top: 1.35em;
   left: 50%;
   margin-left: 1.5em\9
}

.progress-steps>li:last-child:after {
   display: none
}

.progress-steps>li.is-complete {
   color: #ffffff;
}

.progress-steps>li.is-complete:before {
/* Font awesome tick or replace with SVG */
   
   color: #FFF;
   background:#00712E;
   border: 4px solid #00712E;
}

.progress-steps>li.is-complete:after {
   background: #00712E;
   color: #00712E;
}

.progress-steps>li.is-active {
   color: #00712E
}

.progress-steps>li.is-active:before {
   color: #00712E;
   background: #FFF;
   border: 3px solid #00712E
}


.progress-steps__last:after {
   display: none!important
}

.progress-wrap *,
.progress-wrap *:after,
.progress-wrap *:before {
   box-sizing: border-box
}
