<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-margin ion-margin-bottom ion-margin-top">
      <h1 class="tamanoTitulo">CONFIRME SU PAGO</h1>
      <h1 class="ion-no-margin ion-margin-end ion-margin-start tamanoTitulo"  [innerHTML]="'$' + price"></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
 
    <ion-row>
      <ion-col size="1" class="ion-justify-content-center ion-text-center ion-no-padding ion-no-margin">
        <ion-icon src="../../../assets/svg/station.svg" color="success" class="ion-no-padding opacity_text" no-border></ion-icon>
        <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas ion-no-padding opacity_text" color="success"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding ion-margin-start">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label color="medium" class="titulos_card" class="ion-no-margin ion-no-padding">
              Producto
            </ion-label>
          </ion-col>
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label class="conte_text texto_bold" [innerHTML]="gasoline"></ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1" class="ion-justify-content-center ion-text-center ion-no-padding ion-no-margin">
        <ion-icon src="../../../assets/svg/station.svg"  color="success" class="ion-no-padding opacity_text" no-border></ion-icon>
        <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas ion-no-padding opacity_text" color="success"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding ion-margin-start">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label color="medium" class="titulos_card" class="ion-no-margin ion-no-padding">
              Estacion
            </ion-label>
          </ion-col>
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label class="conte_text texto_bold" [innerHTML]="estacion"></ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1" class="ion-justify-content-center ion-text-center ion-no-padding ion-no-margin">
        <ion-icon mode="ios" name="water" color="success" class="ion-no-padding opacity_text" no-border></ion-icon>
        <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas ion-no-padding opacity_text" color="success"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding ion-margin-start">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label color="medium" class="titulos_card" class="ion-no-margin ion-no-padding">
              Litros
            </ion-label>
          </ion-col>
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <ion-label class="conte_text texto_bold" [innerHTML]="liters"></ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-margin-top ion-no-border">
  <ion-row class="ion-justify-content-center ion-margin-top ion-margin-bottom">
    <ion-col size="4" class="ion-text-center ion-margin-end">
      <ion-button shape="round" expand="block" color="success" (click)="onClick()">
        <ion-label color="light" class="ion-text-capitalize">
          Aceptar
        </ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center ion-margin-start">
      <ion-button shape="round" expand="block" color="danger" (click)="cancelar()">
        <ion-label color="light" class="ion-text-capitalize">
          Cancelar
        </ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>