<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" class="animated fadeIn" *ngIf="dataLocalService.noticias.length === 0">
    <defs>
      <mask id="MASK" maskunits="userSpaceOnUse"
                maskcontentunits="userSpaceOnUse">
        <image 
          xlink:href="/assets/img/chi.gif" 
          height="100%"
          width="100%"/>
      </mask>      
    </defs>
    <g mask="url(#MASK)">
    <image x="0" y="0%" class="space" href="/assets/img/spa.gif" 
          height="100%" width="100%"/>
    </g>
  </svg>
  
  <div class="canvasWrapper animated fadeIn" *ngIf="dataLocalService.noticias.length === 0">
    No hay favoritos.
  </div>
  <app-noticias [noticias]="dataLocalService.noticias" [enFavoritos]="true" *ngIf="dataLocalService.noticias.length > 0"></app-noticias>
</ion-content>
