<ion-content>
  <ion-grid class="encabezado">
    <div id="bg-wrap">
      <app-header-animation titulo=""></app-header-animation>
    </div>
    <ion-row class="ion-justify-content-between grid_arriba">
      <ion-col class="ion-no-border ion-padding-start" size="2">
        <ion-buttons mode="ios" >
          <ion-button (click)="regresar()" class="ion-padding-top">
            <ion-icon  mode="ios" color="light" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-no-border ion-padding-end" size="2">
        <ion-buttons mode="md" >
          <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-margin ion-padding-bottom">
      <ion-col class="ion-text-center ion-no-margin" color="light">
        <h3 class="ion-no-margin color-claro">Noticias</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="cuerpo">
    <ion-row *ngFor="let new of news" class="ion-justify-content-center" class="ion-margin">
      <ion-card mode="ios" (click)="navRouting('noticia',new)">
        <img [src]="new.jetpack_featured_media_url" />
        <ion-card-header>
          <ion-card-title [innerHTML]="new.title.rendered"></ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="new.excerpt.rendered">
         
        </ion-card-content>
      </ion-card>
      <!--ion-col size="10">
        <div [innerHTML]="new.content.rendered"></div>
      </ion-col-->
    </ion-row>
  </ion-grid>
</ion-content>