.grid_arriba{
    padding-top: 6%;
}

ion-button{
    --box-shadow:0 !important;
}

ion-item::part(native){
    padding: 0px !important;
    padding-inline-start: 0px !important;
}

.fond{
    font-size: 12px;
}