#bg-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
}
.encabezado{
    height: 25%;
    padding: 0px;
    //background: rgb(34,193,195);
}


.color-claro{
    color: white !important;
    font-weight: bold;
}

.grid_arriba{
    padding-top: 6%;
}