<ion-toolbar mode="md" color="success" class="altura_tolbar_modal aligh_text_modal">

  <div class="body_modal">
    <div class="arrow arrow--top">
      <svg xmlns="http://www.w3.org/2000/svg" width="270.11" height="649.9" overflow="visible">
        <style>.geo-arrow { fill: none;stroke: #fff;stroke-width: 2;stroke-miterlimit: 10 }</style>
        <g class="item-to bounce-1">
          <path class="geo-arrow draw-in" d="M135.06 142.564L267.995 275.5 135.06 408.434 2.125 275.499z" />
        </g>
        <circle class="geo-arrow item-to bounce-2" cx="194.65" cy="69.54" r="7.96" />
        <circle class="geo-arrow draw-in" cx="194.65" cy="39.5" r="7.96" />
        <circle class="geo-arrow item-to bounce-3" cx="194.65" cy="9.46" r="7.96" />
        <g class="geo-arrow item-to bounce-2">
          <path class="st0 draw-in" d="M181.21 619.5l13.27 27 13.27-27zM194.48 644.5v-552" />
        </g>
      </svg>
    </div>
    <div class="arrow arrow--bottom">
      <svg xmlns="http://www.w3.org/2000/svg" width="31.35" height="649.9" overflow="visible">
        <style> .geo-arrow { fill: none; stroke: #fff; stroke-width: 2; stroke-miterlimit: 10 }</style>
        <g class="item-to bounce-1">
          <circle class="geo-arrow item-to bounce-3" cx="15.5" cy="580.36" r="7.96" />
          <circle class="geo-arrow draw-in" cx="15.5" cy="610.4" r="7.96" />
          <circle class="geo-arrow item-to bounce-2" cx="15.5" cy="640.44" r="7.96" />
          <g class="item-to bounce-2">
            <path class="geo-arrow draw-in" d="M28.94 30.4l-13.26-27-13.27 27zM15.68 5.4v552" />
          </g>
        </g>
      </svg>
    </div>
    <div class="main">
      <div class="main__text-wrapper">  
        <svg xmlns="http://www.w3.org/2000/svg" class="dotted-circle" width="352" height="352" overflow="visible">
          <circle cx="176" cy="176" r="174" fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12.921,11.9271"/>
        </svg>
      </div>
    </div>
  </div>
  
  <ion-buttons mode="md" slot="start" class="margin_negativo_modal">
    <ion-button (click)="regresar()" class="margin_top_modal">
      <ion-icon slot="icon-only"  mode="ios" name="chevron-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons mode="md" slot="end" class="margin_negativo_modal">
    <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
  </ion-buttons>

  <ion-title class="margin_top_modal margin_bottom_modal main__title" color="light"><h1 class="h1_modal text_bold_modal">ENVIAR SALDO</h1></ion-title>

</ion-toolbar>

<ion-content class="ion-no-border">
  <ion-fab vertical="top" slot="fixed" edge class="animate__animated animate__fadeInDownBig ancho_fab ancho_fab">
      <ion-searchbar class="border_search" animated placeholder="Membresía del usuario" debounce="700" type="text" (ionChange)="buscar($event)"></ion-searchbar>
  </ion-fab>

  <ion-grid class="margin_top_2_modal" *ngIf="buscando === true">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="success" name="crescent" ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list #contactosListaAd *ngIf="mostraList === true" class="animate__animated animate__fadeIn">
    <ion-list-header class="margin_top_2_modal">
      Resultados de la busqueda
    </ion-list-header>

    <ion-card *ngIf="usuariosNoRegistrado === false"  mode="ios" class="ion-no-padding ion-no-border">
      <ion-card-content class="ion-no-padding ion-no-border" >
        <ion-item-sliding  class="ion-no-padding ion-no-border" >
          <ion-item class="ion-no-border" lines="none">
            <ion-grid no-border>
              <ion-row size="12" class="ion-no-padding ion-no-border">
                <ion-col size="1" class="ion-justify-content-center ion-text-center">
                  <ion-icon name="person" color="success" class="opacity_text"></ion-icon>
                  <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon>
                  <!--ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon-->
                </ion-col>
                <ion-col size="7">
                  <!--ion-label color="success" class="titulos_card opacity_text">Usuario</ion-label>
                  <ion-label class="conte_text texto_bold" [innerHTML]="contact.user.name+' '+contact.user.first_surname+' '+contact.user.second_surname"></ion-label-->
                  <ion-label color="success" class="titulos_card opacity_text">Membresía</ion-label>
                  <ion-label class="conte_text texto_bold" [innerHtml]="contact.membership" ></ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-button shape="round" expand="block" color="success" size="small" class="alinear_boton_tarjeta" (click)="modal_enviar(contact.membership)">
                    <ion-label color="light">
                      Enviar
                    </ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
  
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="add_user(contact.id.toString())">
              <ion-icon slot="icon-only" name="save" color="light"></ion-icon>
            </ion-item-option>
          </ion-item-options>
  
          <ion-item-options side="end">
            <ion-item-option color="success" (click)="add_user(contact.id.toString())">
              <ion-icon slot="icon-only" name="save" color="light"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="usuariosNoRegistrado === true"  mode="ios" class="ion-no-padding ion-no-border">
      <ion-card-content class="ion-no-padding ion-no-border" >
        <ion-item-sliding class="ion-no-padding ion-no-border" >
          <ion-item lines="none">
            <ion-grid class="ion-no-border">
              <ion-row size="12" class="ion-no-padding ion-no-border">
                <ion-col size="1" class="ion-justify-content-center ion-text-center">
                  <ion-icon name="person" color="success" class="opacity_text"></ion-icon>
                  <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon>
                  <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon>
                </ion-col>
                <ion-col size="7">
                  <ion-label color="success" class="titulos_card opacity_text">Usuario</ion-label>
                  <!--ion-label class="conte_text texto_bold" [innerHTML]="contact['name']"></ion-label-->
                  <ion-label color="success" class="titulos_card opacity_text">Membresía</ion-label>
                  <ion-label class="conte_text texto_bold" [innerHtml]="contact.membership" ></ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-button shape="round" expand="block" color="success" size="small" class="alinear_boton_tarjeta" (click)="compartirInvitacion()">
                    <ion-icon name="share" color="light"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list-header class="margin_top_2_modal">
    Usuarios guardados
  </ion-list-header>
  
  <ion-list #contactosListaAd *ngFor="let contac of contacts">
    <ion-card mode="ios" class="ion-no-padding ion-no-border">
      <ion-card-content class="ion-no-padding ion-no-border">
        <ion-item-sliding  class="ion-no-padding ion-no-border">
          <ion-item lines="none" class="ion-no-border ion-justify-content-center">
            <ion-grid class="ion-no-border">
              <ion-row size="12" class="ion-no-padding ion-no-border">
                <ion-col size="1" class="ion-justify-content-center ion-text-center">
                  <ion-icon name="person" color="success" class="opacity_text"></ion-icon>
                  <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon>
                  <ion-icon src="../../../assets/svg/Lineas-01.svg" class="linea_de_lineas opacity_text" color="success"></ion-icon>
                </ion-col>
                <ion-col size="7">
                  <!--ion-label color="success" class="titulos_card opacity_text">Usuario</ion-label>
                  <ion-label class="conte_text texto_bold" [innerHTML]="contac.receiver.user.name+' '+contac.receiver.user.first_surname+' '+contac.receiver.user.second_surname" ></ion-label-->
                  <ion-label color="success" class="titulos_card opacity_text">Membresía</ion-label>
                  <ion-label class="conte_text texto_bold" [innerHTML]="contac.receiver.membership"></ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-button shape="round" expand="block" color="success" size="small" class="alinear_boton_tarjeta" (click)="modal_enviar(contac.receiver.membership)">
                    <ion-label color="light">
                      Enviar
                    </ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
  
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="detele_user(contac.id)">
              <ion-icon slot="icon-only" name="trash" color="light"></ion-icon>
            </ion-item-option>
          </ion-item-options>
  
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="detele_user(contac.id)">
              <ion-icon slot="icon-only" name="trash" color="light"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-grid class="margin_top_2_modal animate__animated animate__fadeIn" *ngIf="mostrarContactos === true">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Aquí apareceran los contactos agregados</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <lottie-animation-view *ngIf="mostrarContactos === true" [options]="lottieConfig" class="margin_top_2_modal animate__animated animate__fadeIn" (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</ion-content>
