/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-popover {
  --backdrop-opacity: 0.9 !important;
  --width: 280px !important;
  position: absolute !important;
}

:root {
  ion-backdrop {
    --backdrop-opacity: 0.9 !important;
 }
}

:focus {
  outline: none;
  }


.opacity_text{
  opacity: 0.6;
}

.popover-content{
  top: 25% !important;
}

// estilos propios
.tab-selected{
  color: var( --ion-color-success ) !important;
}
ion-picker {
  touch-action: none;
}
/* estilos modal*/

  
.font_small_modal{
  font-size: 12px;
}

// margenes

.margin_top_modal{
  margin-top: 18% !important;
  font-weight: bold;
}

.margin_top_2_modal{
    margin-top: 8% !important;
}

.margin_bottom_modal{
  margin-bottom: 25% !important;
}

.margin_negativo_modal{
  margin-top: -18%;
}

/*------------------------*/

.aligh_text_modal{
    text-align: center;
}

.text_bold_modal{
    font-weight: bold;
    letter-spacing: 2px
}

.altura_tolbar_modal{
    height: 20%;
}


.bordes_re_modal{
    border-radius: 12px;
    border:1px solid rgba(131, 131, 131, 0.808);
}


$purple: #75B952;
$blue: #00712E;
$ltblue: #91db6c;
$magenta: #00d00a;
  
.body_modal {
  z-index: 0;
  position: absolute;
  background: linear-gradient($blue, $purple);
  height: 100%;
  width: 100%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "DM Mono", monospace;
  font-weight: 300;
  overflow: hidden;
  color: white;
  text-align: center;
  left: 0%;
}
  
.h1_modal {
  font-size: 2.8vh;
  margin-bottom: 0.1em;
}
  
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -3;
  }
  &:before {
    right: 0;
    bottom: -19;
    height: 8em;
    width: 8em;
    border-radius: 8em;
    background: linear-gradient($blue, $purple);
    align-self: flex-end;
    animation: gradient-fade 8s ease-in-out 3s infinite alternate;
  }
  &:after {
    $circle-unit: 1em;
    top: 0;
    left: 30;
    height: $circle-unit;
    width: $circle-unit;
    border-radius: $circle-unit;
    background: linear-gradient($blue, $purple);
    animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
  }

  &__text-wrapper {
    position: relative;
    padding: 1em;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      $circle-unit: 3em;
      z-index: -1;
      top: -1em;
      right: -1em;
      width: $circle-unit;
      height: $circle-unit;
      opacity: 0.7;
      border-radius: $circle-unit;
      background: linear-gradient($ltblue, $purple);
      animation: rotation 7s linear infinite;
    }

    &:after {
      $circle-unit: 8em;
      z-index: -1;
      bottom: -#{$circle-unit};
      width: $circle-unit;
      height: $circle-unit;
      border-radius: $circle-unit;
      background: linear-gradient($magenta, $purple);
      animation: rotation 7s linear infinite;
    }
  }
}

.arrow {
  z-index: 1000;
  opacity: 0.5;
  position: absolute;

  &--top {
    top: 0;
    left: -2em;
  }

  &--bottom {
    bottom: 0;
    right: 1em;
  }
}

.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;

  &--ltblue {
    $circle-unit: 8em;
    height: $circle-unit;
    width: $circle-unit;
    border-radius: $circle-unit;
    background: linear-gradient($ltblue, $blue);
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 20%;
  display: block;
  background-color: pink;
}

.dotted-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  animation: rotation 38s linear infinite;
}

// animations
.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.item-to {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

// gradient fade

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
  
/* fin estilos modal */
/*.text-primary {
    color: var( --ion-color-primary ) !important;
}*/

/*.noticia-source-name {
    font-size: 14px;
    color: lightgray;
}*/

// html, ion-header {
    // background-color: var(--ion-color-dark) !important;
//}
/*.action-dark, .action-sheet-group, .action-sheet-title {
    background-color: var(--ion-color-dark-tint) !important;
    color: white !important;
    --background: var(--ion-color-dark-tint) !important;
}

.action-dark ion-icon{
    color: white !important;
}

.ios .action-dark ion-icon{
    display: none !important;
}*/

// animaciones

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


:root {
--animate-duration: 1s;
--animate-delay: 1s;
--animate-repeat: 1;
}
.animate__animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-duration: var(--animate-duration);
animation-duration: var(--animate-duration);
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.animate__animated.animate__infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.animate__animated.animate__repeat-1 {
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-iteration-count: var(--animate-repeat);
animation-iteration-count: var(--animate-repeat);
}
.animate__animated.animate__repeat-2 {
-webkit-animation-iteration-count: calc(1 * 2);
animation-iteration-count: calc(1 * 2);
-webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
animation-iteration-count: calc(var(--animate-repeat) * 2);
}
.animate__animated.animate__repeat-3 {
-webkit-animation-iteration-count: calc(1 * 3);
animation-iteration-count: calc(1 * 3);
-webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
animation-iteration-count: calc(var(--animate-repeat) * 3);
}
.animate__animated.animate__delay-1s {
-webkit-animation-delay: 1s;
animation-delay: 1s;
-webkit-animation-delay: var(--animate-delay);
animation-delay: var(--animate-delay);
}
.animate__animated.animate__delay-2s {
-webkit-animation-delay: calc(1s * 2);
animation-delay: calc(1s * 2);
-webkit-animation-delay: calc(var(--animate-delay) * 2);
animation-delay: calc(var(--animate-delay) * 2);
}
.animate__animated.animate__delay-3s {
-webkit-animation-delay: calc(1s * 3);
animation-delay: calc(1s * 3);
-webkit-animation-delay: calc(var(--animate-delay) * 3);
animation-delay: calc(var(--animate-delay) * 3);
}
.animate__animated.animate__delay-4s {
-webkit-animation-delay: calc(1s * 4);
animation-delay: calc(1s * 4);
-webkit-animation-delay: calc(var(--animate-delay) * 4);
animation-delay: calc(var(--animate-delay) * 4);
}
.animate__animated.animate__delay-5s {
-webkit-animation-delay: calc(1s * 5);
animation-delay: calc(1s * 5);
-webkit-animation-delay: calc(var(--animate-delay) * 5);
animation-delay: calc(var(--animate-delay) * 5);
}
.animate__animated.animate__faster {
-webkit-animation-duration: calc(1s / 2);
animation-duration: calc(1s / 2);
-webkit-animation-duration: calc(var(--animate-duration) / 2);
animation-duration: calc(var(--animate-duration) / 2);
}
.animate__animated.animate__fast {
-webkit-animation-duration: calc(1s * 0.8);
animation-duration: calc(1s * 0.8);
-webkit-animation-duration: calc(var(--animate-duration) * 0.8);
animation-duration: calc(var(--animate-duration) * 0.8);
}
.animate__animated.animate__slow {
-webkit-animation-duration: calc(1s * 2);
animation-duration: calc(1s * 2);
-webkit-animation-duration: calc(var(--animate-duration) * 2);
animation-duration: calc(var(--animate-duration) * 2);
}
.animate__animated.animate__slower {
-webkit-animation-duration: calc(1s * 3);
animation-duration: calc(1s * 3);
-webkit-animation-duration: calc(var(--animate-duration) * 3);
animation-duration: calc(var(--animate-duration) * 3);
}
@media print, (prefers-reduced-motion: reduce) {
.animate__animated {
  -webkit-animation-duration: 1ms !important;
  animation-duration: 1ms !important;
  -webkit-transition-duration: 1ms !important;
  transition-duration: 1ms !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
}

.animate__animated[class*='Out'] {
  opacity: 0;
}
}


@-webkit-keyframes backInDown {
0% {
  -webkit-transform: translateY(-1200px) scale(0.7);
  transform: translateY(-1200px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
@keyframes backInDown {
0% {
  -webkit-transform: translateY(-1200px) scale(0.7);
  transform: translateY(-1200px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
.animate__backInDown {
-webkit-animation-name: backInDown;
animation-name: backInDown;
}
@-webkit-keyframes backInLeft {
0% {
  -webkit-transform: translateX(-2000px) scale(0.7);
  transform: translateX(-2000px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
@keyframes backInLeft {
0% {
  -webkit-transform: translateX(-2000px) scale(0.7);
  transform: translateX(-2000px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
.animate__backInLeft {
-webkit-animation-name: backInLeft;
animation-name: backInLeft;
}
@-webkit-keyframes backInRight {
0% {
  -webkit-transform: translateX(2000px) scale(0.7);
  transform: translateX(2000px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
@keyframes backInRight {
0% {
  -webkit-transform: translateX(2000px) scale(0.7);
  transform: translateX(2000px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
.animate__backInRight {
-webkit-animation-name: backInRight;
animation-name: backInRight;
}
@-webkit-keyframes backInUp {
0% {
  -webkit-transform: translateY(1200px) scale(0.7);
  transform: translateY(1200px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
@keyframes backInUp {
0% {
  -webkit-transform: translateY(1200px) scale(0.7);
  transform: translateY(1200px) scale(0.7);
  opacity: 0.7;
}

80% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
}
.animate__backInUp {
-webkit-animation-name: backInUp;
animation-name: backInUp;
}
/* Back exits */
@-webkit-keyframes backOutDown {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateY(700px) scale(0.7);
  transform: translateY(700px) scale(0.7);
  opacity: 0.7;
}
}
@keyframes backOutDown {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateY(700px) scale(0.7);
  transform: translateY(700px) scale(0.7);
  opacity: 0.7;
}
}
.animate__backOutDown {
-webkit-animation-name: backOutDown;
animation-name: backOutDown;
}
@-webkit-keyframes backOutLeft {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateX(-2000px) scale(0.7);
  transform: translateX(-2000px) scale(0.7);
  opacity: 0.7;
}
}
@keyframes backOutLeft {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateX(-2000px) scale(0.7);
  transform: translateX(-2000px) scale(0.7);
  opacity: 0.7;
}
}
.animate__backOutLeft {
-webkit-animation-name: backOutLeft;
animation-name: backOutLeft;
}
@-webkit-keyframes backOutRight {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateX(2000px) scale(0.7);
  transform: translateX(2000px) scale(0.7);
  opacity: 0.7;
}
}
@keyframes backOutRight {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateX(0px) scale(0.7);
  transform: translateX(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateX(2000px) scale(0.7);
  transform: translateX(2000px) scale(0.7);
  opacity: 0.7;
}
}
.animate__backOutRight {
-webkit-animation-name: backOutRight;
animation-name: backOutRight;
}
@-webkit-keyframes backOutUp {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateY(-700px) scale(0.7);
  transform: translateY(-700px) scale(0.7);
  opacity: 0.7;
}
}
@keyframes backOutUp {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

20% {
  -webkit-transform: translateY(0px) scale(0.7);
  transform: translateY(0px) scale(0.7);
  opacity: 0.7;
}

100% {
  -webkit-transform: translateY(-700px) scale(0.7);
  transform: translateY(-700px) scale(0.7);
  opacity: 0.7;
}
}
.animate__backOutUp {
-webkit-animation-name: backOutUp;
animation-name: backOutUp;
}

/* Fading entrances  */
@-webkit-keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}
@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}
.animate__fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInDown {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInDownBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInDownBig {
-webkit-animation-name: fadeInDownBig;
animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInLeftBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInLeftBig {
-webkit-animation-name: fadeInLeftBig;
animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInRightBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInRightBig {
-webkit-animation-name: fadeInRightBig;
animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInUpBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInUpBig {
-webkit-animation-name: fadeInUpBig;
animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInTopLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInTopLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInTopLeft {
-webkit-animation-name: fadeInTopLeft;
animation-name: fadeInTopLeft;
}
@-webkit-keyframes fadeInTopRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInTopRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInTopRight {
-webkit-animation-name: fadeInTopRight;
animation-name: fadeInTopRight;
}
@-webkit-keyframes fadeInBottomLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInBottomLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInBottomLeft {
-webkit-animation-name: fadeInBottomLeft;
animation-name: fadeInBottomLeft;
}
@-webkit-keyframes fadeInBottomRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInBottomRight {
from {
  opacity: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
}
to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInBottomRight {
-webkit-animation-name: fadeInBottomRight;
animation-name: fadeInBottomRight;
}
/* Fading exits */
@-webkit-keyframes fadeOut {
from {
  opacity: 1;
}

to {
  opacity: 0;
}
}
@keyframes fadeOut {
from {
  opacity: 1;
}

to {
  opacity: 0;
}
}
.animate__fadeOut {
-webkit-animation-name: fadeOut;
animation-name: fadeOut;
}
@-webkit-keyframes fadeOutDown {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
}
@keyframes fadeOutDown {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
}
.animate__fadeOutDown {
-webkit-animation-name: fadeOutDown;
animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutDownBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
}
@keyframes fadeOutDownBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
}
.animate__fadeOutDownBig {
-webkit-animation-name: fadeOutDownBig;
animation-name: fadeOutDownBig;
}
@-webkit-keyframes fadeOutLeft {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
}
@keyframes fadeOutLeft {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
}
.animate__fadeOutLeft {
-webkit-animation-name: fadeOutLeft;
animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutLeftBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}
}
@keyframes fadeOutLeftBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}
}
.animate__fadeOutLeftBig {
-webkit-animation-name: fadeOutLeftBig;
animation-name: fadeOutLeftBig;
}
@-webkit-keyframes fadeOutRight {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
}
@keyframes fadeOutRight {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
}
.animate__fadeOutRight {
-webkit-animation-name: fadeOutRight;
animation-name: fadeOutRight;
}
@-webkit-keyframes fadeOutRightBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}
}
@keyframes fadeOutRightBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}
}
.animate__fadeOutRightBig {
-webkit-animation-name: fadeOutRightBig;
animation-name: fadeOutRightBig;
}
@-webkit-keyframes fadeOutUp {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
}
@keyframes fadeOutUp {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
}
.animate__fadeOutUp {
-webkit-animation-name: fadeOutUp;
animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutUpBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}
}
@keyframes fadeOutUpBig {
from {
  opacity: 1;
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}
}
.animate__fadeOutUpBig {
-webkit-animation-name: fadeOutUpBig;
animation-name: fadeOutUpBig;
}
@-webkit-keyframes fadeOutTopLeft {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
}
}
@keyframes fadeOutTopLeft {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
}
}
.animate__fadeOutTopLeft {
-webkit-animation-name: fadeOutTopLeft;
animation-name: fadeOutTopLeft;
}
@-webkit-keyframes fadeOutTopRight {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
}
}
@keyframes fadeOutTopRight {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
}
}
.animate__fadeOutTopRight {
-webkit-animation-name: fadeOutTopRight;
animation-name: fadeOutTopRight;
}
@-webkit-keyframes fadeOutBottomRight {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
}
}
@keyframes fadeOutBottomRight {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
}
}
.animate__fadeOutBottomRight {
-webkit-animation-name: fadeOutBottomRight;
animation-name: fadeOutBottomRight;
}
@-webkit-keyframes fadeOutBottomLeft {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
}
}
@keyframes fadeOutBottomLeft {
from {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
to {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
}
}
.animate__fadeOutBottomLeft {
-webkit-animation-name: fadeOutBottomLeft;
animation-name: fadeOutBottomLeft;
}
