/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// css ultimas vistas creadas

@media screen and (max-width: 320px) {
  .grid_arriba{
    padding-top: 0% !important;
  }
  .content1{
    transform: translatey(-58px) !important;
  }
}

#bg-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}

.encabezado{
  height: 25%;
  padding: 0px;
}

.grid_arriba{
  padding-top: 6%;
}

.color-claro{
  color: white !important;
  font-weight: bold;
}

.colorFondoVistasSecundarias{
  --background: var(--ion-color-success);
}

.cuerpo{
  background: rgb(255,255,255);
  border-radius: 40px 40px 40px 40px/40px 40px 0px 0px;
  height:  75%;
  padding: 0px;
  overflow: overlay;
  position: relative;
}

//-------------
/*-----------ion-segment-----------*/

.ion_segment{
  border: 1px solid white !important;
  border-radius: 25px !important;
  background-color: transparent !important;
}

ion-segment-button{
  --border-radius: 50px;
  margin-left: -3px !important;
  margin-right: -3px !important;
  
}

ion-segment-button::before {
  margin: 5px 0px;
  transition: opacity 160ms ease-in-out 100ms;
  border-left: 0 solid green;
  content: "";
  opacity: 1;
  will-change: opacity;
}

.segment-button-checked{
  --indicator-color: rgba(255, 255, 255, 0.7) !important;
  color: var(--ion-color-tertiary-tint) !important;
}

.separar_componente_abajo{
  padding-bottom: 0.05vh !important;
}

figure{
  img{
    height: 30% !important;
  }
}

p{
  img{
    height: 30% !important;
  }
}
.elementor-clearfix{
  h4{
    font-weight: bold;
  }
}


/*---------tabbar----------*/
ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom);
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			
			--background: var(--ion-color-light);
		}
		ion-tab-button.cash {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.sync {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		ion-tab-button.tab-selected{
			--color-selected: var( --ion-color-success ) !important;
		}
		svg {
			width: 82px;
			margin-top: 16px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}

.scan_size{
	height: 40px;
}

/*-------------------------*/

.propio > canvas{
  height: 40vh !important;
  width: 40vh !important;
}

ion-popover {
  --backdrop-opacity: 0.5 !important;
  --width: 280px !important;
  position: absolute !important;
}

.popover-wrapper, .popover-content, .popover-viewport{
  overflow: visible !important;
 
  //padding-top: 30px;
}

//.popover-content{
  //background-color: #F75c68 !important;
//}


app-notificaciones{
  text-align: center;
  color: white;
  --background: transparent !important;
  ion-content::part(background){
    background-color: transparent !important;
  }
  ion-content::part(scroll){
    overflow: visible !important;
  }
}

app-notificaciones-galeoncito{
  height: 32vh;
  text-align: center;
  color: white;
  --background: transparent !important;
  ion-content::part(background){
    background-color: transparent !important;
  }
  ion-content::part(scroll){
    overflow: visible !important;
  }
}

.sc-ion-popover-ios-h{
  --background: transparent !important;
}

app-notificaciones::part(background){
  background-color: transparent !important;
}

.tran{
  background-color: transparent;
}


:root {
  ion-backdrop {
    --backdrop-opacity: 0.7 !important;
 }
}

:focus {
  outline: none;
  }


.opacity_text{
  opacity: 0.6;
}

//.popover-content{
  //top: 25% !important;
//}

// estilos propios
.tab-selected{
  color: var( --ion-color-success ) !important;
}
ion-picker {
  touch-action: none;
}
/* estilos modal*/

  
.font_small_modal{
  font-size: 12px;
}

// margenes

.margin_top_modal{
  margin-top: 18% !important;
  font-weight: bold;
}

.margin_top_2_modal{
    margin-top: 8% !important;
}

.margin_bottom_modal{
  margin-bottom: 25% !important;
}

.margin_negativo_modal{
  margin-top: -18%;
}

/*------------------------*/

.aligh_text_modal{
    text-align: center;
}

.text_bold_modal{
    font-weight: bold;
    letter-spacing: 2px
}

.altura_tolbar_modal{
    height: 20%;
}


.bordes_re_modal{
    border-radius: 12px;
    border:1px solid rgba(131, 131, 131, 0.808);
}


$purple: #75B952;
$blue: #00712E;
$ltblue: #91db6c;
$magenta: #00d00a;
  
.body_modal {
  z-index: 0;
  position: absolute;
  background: linear-gradient($blue, $purple);
  height: 100%;
  width: 100%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "DM Mono", monospace;
  font-weight: 300;
  overflow: hidden;
  color: white;
  text-align: center;
  left: 0%;
}
  
.h1_modal {
  font-size: 2.5vh;
  margin-bottom: 0.1em;
}
  
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -3;
  }
  &:before {
    right: 0;
    bottom: -19;
    height: 8em;
    width: 8em;
    border-radius: 8em;
    background: linear-gradient($blue, $purple);
    align-self: flex-end;
    animation: gradient-fade 8s ease-in-out 3s infinite alternate;
  }
  &:after {
    $circle-unit: 1em;
    top: 0;
    left: 30;
    height: $circle-unit;
    width: $circle-unit;
    border-radius: $circle-unit;
    background: linear-gradient($blue, $purple);
    animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
  }

  &__text-wrapper {
    position: relative;
    padding: 1em;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      $circle-unit: 3em;
      z-index: -1;
      top: -1em;
      right: -1em;
      width: $circle-unit;
      height: $circle-unit;
      opacity: 0.7;
      border-radius: $circle-unit;
      background: linear-gradient($ltblue, $purple);
      animation: rotation 7s linear infinite;
    }

    &:after {
      $circle-unit: 8em;
      z-index: -1;
      bottom: -#{$circle-unit};
      width: $circle-unit;
      height: $circle-unit;
      border-radius: $circle-unit;
      background: linear-gradient($magenta, $purple);
      animation: rotation 7s linear infinite;
    }
  }
}

.arrow {
  z-index: 1000;
  opacity: 0.5;
  position: absolute;

  &--top {
    top: 0;
    left: -2em;
  }

  &--bottom {
    bottom: 0;
    right: 1em;
  }
}

.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;

  &--ltblue {
    $circle-unit: 8em;
    height: $circle-unit;
    width: $circle-unit;
    border-radius: $circle-unit;
    background: linear-gradient($ltblue, $blue);
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 20%;
  display: block;
  background-color: pink;
}

.dotted-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  animation: rotation 38s linear infinite;
}

// animations
.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.item-to {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

// gradient fade

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
  

// animaciones



:root {
--animate-duration: 1s;
--animate-delay: 1s;
--animate-repeat: 1;
}
.animate__animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-duration: var(--animate-duration);
animation-duration: var(--animate-duration);
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.animate__animated.animate__infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.animate__animated.animate__repeat-1 {
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-iteration-count: var(--animate-repeat);
animation-iteration-count: var(--animate-repeat);
}
.animate__animated.animate__repeat-2 {
-webkit-animation-iteration-count: calc(1 * 2);
animation-iteration-count: calc(1 * 2);
-webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
animation-iteration-count: calc(var(--animate-repeat) * 2);
}
.animate__animated.animate__repeat-3 {
-webkit-animation-iteration-count: calc(1 * 3);
animation-iteration-count: calc(1 * 3);
-webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
animation-iteration-count: calc(var(--animate-repeat) * 3);
}
.animate__animated.animate__delay-1s {
-webkit-animation-delay: 1s;
animation-delay: 1s;
-webkit-animation-delay: var(--animate-delay);
animation-delay: var(--animate-delay);
}
.animate__animated.animate__delay-2s {
-webkit-animation-delay: calc(1s * 2);
animation-delay: calc(1s * 2);
-webkit-animation-delay: calc(var(--animate-delay) * 2);
animation-delay: calc(var(--animate-delay) * 2);
}
.animate__animated.animate__delay-3s {
-webkit-animation-delay: calc(1s * 3);
animation-delay: calc(1s * 3);
-webkit-animation-delay: calc(var(--animate-delay) * 3);
animation-delay: calc(var(--animate-delay) * 3);
}
.animate__animated.animate__delay-4s {
-webkit-animation-delay: calc(1s * 4);
animation-delay: calc(1s * 4);
-webkit-animation-delay: calc(var(--animate-delay) * 4);
animation-delay: calc(var(--animate-delay) * 4);
}
.animate__animated.animate__delay-5s {
-webkit-animation-delay: calc(1s * 5);
animation-delay: calc(1s * 5);
-webkit-animation-delay: calc(var(--animate-delay) * 5);
animation-delay: calc(var(--animate-delay) * 5);
}
.animate__animated.animate__faster {
-webkit-animation-duration: calc(1s / 2);
animation-duration: calc(1s / 2);
-webkit-animation-duration: calc(var(--animate-duration) / 2);
animation-duration: calc(var(--animate-duration) / 2);
}
.animate__animated.animate__fast {
-webkit-animation-duration: calc(1s * 0.8);
animation-duration: calc(1s * 0.8);
-webkit-animation-duration: calc(var(--animate-duration) * 0.8);
animation-duration: calc(var(--animate-duration) * 0.8);
}
.animate__animated.animate__slow {
-webkit-animation-duration: calc(1s * 2);
animation-duration: calc(1s * 2);
-webkit-animation-duration: calc(var(--animate-duration) * 2);
animation-duration: calc(var(--animate-duration) * 2);
}
.animate__animated.animate__slower {
-webkit-animation-duration: calc(1s * 3);
animation-duration: calc(1s * 3);
-webkit-animation-duration: calc(var(--animate-duration) * 3);
animation-duration: calc(var(--animate-duration) * 3);
}
@media print, (prefers-reduced-motion: reduce) {
.animate__animated {
  -webkit-animation-duration: 1ms !important;
  animation-duration: 1ms !important;
  -webkit-transition-duration: 1ms !important;
  transition-duration: 1ms !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
}

.animate__animated[class*='Out'] {
  opacity: 0;
}
}


/* Fading entrances  */
@-webkit-keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}
@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}
.animate__fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

@-webkit-keyframes fadeInDownBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInDownBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInDownBig {
-webkit-animation-name: fadeInDownBig;
animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeftBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInLeftBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInLeftBig {
-webkit-animation-name: fadeInLeftBig;
animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInRightBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInRightBig {
-webkit-animation-name: fadeInRightBig;
animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUpBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
@keyframes fadeInUpBig {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.animate__fadeInUpBig {
-webkit-animation-name: fadeInUpBig;
animation-name: fadeInUpBig;
}

