.grid_arriba_t{
  margin-top: 10%;
}

.color_wave1{
  background: #DA3230;
}
.color_wave2{
  background: #75B952;
}
.color_wave3{
  background: #00712E;
}

.font-white{  
    color : #fff !important; 
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.color_fon{
  background-color: #ffffff;
}

.animacion_size{
  width: 100%;
  height: 100%;
}

.primerTitulo{
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
}
.primerTituloCopy{
  margin: 0%;
  font-size: 20px;
  font-weight: bold;
}

.primerTitulo_2{
  margin: 0%;
  font-size: 20px;
  font-weight: bold;
}

.segundoTitulo{
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
}
.segundoTitulo_last{
  font-size: 30px;
  font-weight: bold;
}

.tercerTitulo{
  margin: 3%;
  font-size: 14px;
}

.cuartoTitulo{
  font-size: 23px;
  margin: 5%;
  font-weight: bold;
}

.boldtextos{
  font-weight: bold;
}

ion-card{
  margin-top: 7px !important;
  margin-bottom: 17px !important;
}

ion-card-content{
  width: 100%;
  height: 100%;
}

.card-content-ios{
  padding-top: 3% !important;
  padding-bottom: 3% !important;
}

.bajar_cards{
  margin-top: 40%;
}


.poner_margin_botton{
  margin-bottom: 30%;
}

.quitar_margin_left{
  margin-right: -10px !important;
  //margin-right: -5%;
}

.quitar_margin_right{
  height: 20vh;
  width: 100%;
}

.posicion_conten{
  margin-top: 60%;
}

/*.animacion_fondo{
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  position: absolute;
  top: -10%;
}*/
.animacion_fondo{
  position: absolute;
}

ion-slide {
  height: 100%;
}

.posicion_id{
  position: fixed;
  z-index: 100;
}

.iconos_cuadrados{
  font-size: 350%;
}

.pos_boton{
  position: fixed;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.alinear_icons{
  text-align: center;
}

.color_fon{
	background-color: #fff !important;
}

.box {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .8;
  position: absolute;
  top: -60%;
  left: -10%;
  width: 120%;
  height: 120%;
  transform-origin: 50% 50%;
  border-radius: 43%;
  animation: drift 13000ms infinite linear;
}

.wave.-three {
  animation: drift 15000ms infinite linear;
}

.wave.-two {
  animation: drift 17000ms infinite linear;
  opacity: .5;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  //background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


@media screen and (max-width: 375px) {
  .primerTitulo{
    font-size: 18px;
  }
  
  .primerTitulo_2{
    font-size: 18px;
  }
  
  .segundoTitulo{
    font-size: 26px;

  }
  
  .tercerTitulo{
    font-size: 14px;
  }
  
  .cuartoTitulo{
    font-size: 19px;
  }

  .label_buton{
    font-size: 10px;
  }

  .iconos_cuadrados{
    font-size: 250%;
  }

}
@media screen and (max-width: 360px) {
  .primerTitulo{
    font-size: 18px;
  }
  
  .primerTitulo_2{
    font-size: 18px;
  }
  
  .segundoTitulo{
    font-size: 26px;

  }
  
  .tercerTitulo{
    font-size: 14px;
  }
  
  .cuartoTitulo{
    font-size: 19px;
  }

  .label_buton{
    font-size: 10px;
  }

  .iconos_cuadrados{
    font-size: 250%;
  }

}
@media screen and (max-width: 320px) {
  .primerTitulo{
    font-size: 16px;
  }
  
  .primerTitulo_2{
    font-size: 16px;
  }
  
  .segundoTitulo{
    font-size: 24px;

  }
  
  .tercerTitulo{
    font-size: 12px;
  }
  
  .cuartoTitulo{
    font-size: 17px;
  }

  .label_buton{
    font-size: 10px;
  }

  .iconos_cuadrados{
    font-size: 250%;
  }

  .animacion_fondo{
    width: 85%;
    margin-left: 10%;
  }
}


.conten{
  position: absolute;
    align-content: center;
    width: 100%;
    height: 50%;
    top: 50%;
}
