ion-header{
    height: 20% !important;
}

ion-toolbar{
    height: 100% !important;
    --background: var(--ion-color-success);
}

ion-title{
    margin-top: 14% !important;
}

.titulo{
    font-weight: bold;
    font-size: 1em;
}

.nombre{
    font-weight: bold;
    font-size: 1.8em;
}

.tamano_logo{
    font-size: 15vh;
}

ion-content{
    --background: #75b952;
}

.cuerpo2{
    background: rgb(255,255,255);
    border-radius: 40px 0px 40px 0px/40px 40px 0px 0px !important;
    height:  75%;
    padding: 0px;
    overflow: overlay;
    position: relative;
  }