
.header {
  position:relative;
  text-align:center;
  background:  #30790A;
}
.logo {
  display:inline-block;
  vertical-align: middle;
  background-color: white;
  width: 75% !important;
}

.colorBlanco{
  background-color: white;
  height: 50vh;
}

.separacion{
  padding-top: 6.5%;
}

.inner-header {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.super_posicion{
    color: white;
    letter-spacing: 1px;
    text-align: justify;

}

.waves {
  position:relative;
  z-index: 1;
  width: 100%;
  height:100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  margin-top: -25%;
  
}

.tamanoFab{
  width: 100%;
}

.tamanoFlechas{
  font-size: 30px;
}

.color_titulos{
  color: #ffdb80;
  // font-size: 28px;
  font-weight: bold;
  text-align: left;
  z-index: 1000;
}

ion-radio{
  --color: white;
  width: 15px;
  height: 15px;
  margin-top: 9px;
}

.content {
  --background: linear-gradient(0deg, #00833e, #75b952, #75b952, #75b952);
}

:focus {
  outline: none;
  }

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*@media screen and (max-height: 666px) and (min-height: 568px) {
  .color_titulos{
    font-size: 20px;
  }
  .super_posicion{
    font-size:14px;
  }
}

@media screen and (max-height: 900px) and (min-height: 700px) {
  .color_titulos{
    font-size: 28px;
  }

  .super_posicion{
    font-size:18px;
  }
}*/


@media screen and (min-device-width: 550dpi) {
  .color_titulos{
    font-size: 30px;
  }
  .super_posicion{
    font-size:25px;
    letter-spacing: 1px;
  }

  img{
    margin-top: 0%;
  }
}
@media only screen and (min-device-width: 414px) and (orientation: portrait) { 
  .color_titulos{
    font-size: 25px;
  }
  .super_posicion{
    font-size:20px;
    letter-spacing: 1px;
  }

  img{
    margin-top: 0%;
  }
}

@media only screen and (min-device-width: 411px) and (orientation: portrait) { 
  .color_titulos{
    font-size: 25px;
  }
  .super_posicion{
    font-size:20px;
    letter-spacing: 1px;
  }

  img{
    margin-top: 0%;
  }
}


@media screen and (max-width: 375px) {

  .color_titulos{
    font-size: 20px;
  }
  .super_posicion{
    font-size:15px;
    letter-spacing: 1px;
  }

  img{
    margin-top: -10%;
  }
 
}
@media screen and (max-width: 360px) {
  .color_titulos{
    font-size: 20px;
  }
  .super_posicion{
    font-size:15px;
    letter-spacing: 1px;
  }

  img{
    margin-top: -15%;
  }
}
@media screen and (max-width: 320px) {
  .color_titulos{
    font-size: 18px;
  }
  .super_posicion{
    font-size:13px;
    letter-spacing: 0px;
  }
  img{
    margin-top: -15%;
  }
}

